/*-- https://quarto.org/docs/presentations/revealjs/themes.html --*/

/*-- scss:defaults --*/

/*-- scss:rules --*/

.reveal h1 {
  text-align: center;
}

.reveal h2 {
  border-bottom: 2px solid #bbbbbb;
  margin-bottom: 1.5rem;
}

.reveal .r-stretch {
  height: 224px;
  width: 224px;
}

.reveal .center-img {
  text-align: center;
}

.reveal .center-img img {
  max-height: 500px;
  max-width: 600px;
}

.reveal .citation {
  color: #8f8f8f;
}

.reveal .citation a {
  color: #8f8f8f;
}